<div class="footer">
    <ul class="icn-list">
        <li><img src="/Scripts/spat/img/logo/{{params.images.logo2}}" alt="" /></li>
        <li><img src="/Scripts/spat/img/logo/{{params.images.logo1}}" alt="" /></li>
        <li><img src="/Scripts/spat/img/logo/{{params.images.logo3}}" alt="" /></li>
    </ul>
    <ul class="icn-list menu-list">
        <li><a href="/eventosAll">Eventos</a></li>
        <li><a href="/noticiasAll">Noticias</a></li>
        <li><a href="/delegacionesAll">Delegaciones</a></li>
        <li><a href="/contactos">Contactos</a></li>
    </ul>
</div>


{{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> --}}

{{!-- <script src="/Scripts/vendor/ace-admin/js/jquery-2.0.3.min.js" type="text/javascript"></script>
<script src="/Scripts/vendor/ace-admin/js/jquery-ui-1.10.3.full.min.js" type="text/javascript"></script>
<script src="/Scripts/spat/bootstrap/js/bootstrap.min.js" type="text/javascript"></script> --}}

{{!-- <script src="/Scripts/vendor/owlcarousel/owl.carousel.min.js" type="text/javascript"></script> --}}
<!-- MAIN JS -->
<!-- <script src="../../Scripts/spat/js/spat.js" type="text/javascript"></script>
<script src="../../Scripts/spat/js/tkd.js" type="text/javascript"></script> -->

<script type="text/javascript">
    $(document).ready(function () {
        // Forms.FrmHomeLogin.init();
        // setTimeout(function () {
        //     Forms.FrmHomeLogin.functions.searchEvents('03');
        //     Forms.FrmHomeLogin.functions.searchTeams('03');
        // }, 1000);
    });
</script>
