<div class="modal fade modal-form" id="modal-register" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="icon-x"></span>
            </button>

            <div id="form-registro">
                <div class="modal-body">
                    <h2>Registra tu Delegación</h2>
                    <p></p>
                    <form>
                        <ul class="form-list">
                            <li>
                                <label for="registro-nombre">Nombres</label>
                                <input type="text" id="registro-nombre" placeholder="Ingresa tus Nombres">
                            </li>
                            <li>
                                <label for="registro-apellido">Apellidos</label>
                                <input type="text" id="registro-apellido" placeholder="Ingresa tus Apellidos">
                            </li>
                            <li>
                                <label for="registro-email">Email</label>
                                <input type="text" id="registro-email" placeholder="Ingresa tu email">
                            </li>
                            <li>
                                <label for="registro-password">Contraseña</label>
                                <input type="password" id="registro-password" placeholder="Mínimo 8 caracteres">
                            </li>
                            <li>
                                <label for="registro-password2">Confirmar Contraseña</label>
                                <input type="password" id="registro-password2" placeholder="Ingresa nuevamente tu contraseña" />
                            </li>
                            <li class="btn-submit">
                                <input type="submit" value="Registrarse">
                            </li>
                        </ul>
                    </form>
                    <p>¿Ya tienes un usuario?
                        <button class="btn btn-link btn-login-modal" data-dismiss="modal" data-toggle="modal" data-target="#modal-login">Inicia Sesión aquí</button>
                    </p>
                </div>
                <div class="modal-bg"><img src="" /></div>
            </div>


        </div>
    </div>
</div>